<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Team Analysis over Years</title>

    <!-- Highcharts library -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- Optional: Include additional Highcharts modules if required -->

    <!-- d3 library -->
    <script src="https://d3js.org/d3.v5.min.js"></script>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>
    <div class="row" style="background-color: rgb(0, 0, 0);">
        <div class="container">
          <div class="column" style = "text-align: center; color: rgb(231, 231, 231);">
                <h1>Sports Project</h1>
          <p>Binh Do, Dan Dreger, Anthony Jordan, Brandon Macchi, Andrew Oceguera</p>
        </div>
      </div>
      <div class="column image col-lg-12" style=""></div>
    </div> 
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('salaries') }}">Salary Cap Distribution</a>
                <a class="nav-link" href="{{ url_for('spending_success') }}">Spending and Win/Loss Records</a>
                <a class="nav-link" href="{{ url_for('analysis') }}">Analysis and Conclusion</a>
                <a class="nav-link" href="{{ url_for('future') }}">NFL's Future</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="section" style="text-align: left; margin: 20px;">
        <p>
          <h2>Yearly Team Analysis</h2>
          <p>Select a start and end year and select your team(s). Click the "Update Charts" button and you'll be presented with their salary data, their regular season win/loss record, and if they made it to the post season.</p>
        </p>
  
  
      <div class="container mt-4">
        <p>
        <label for="startYearDropdown">Select Start Year:</label>
        <select id="startYearDropdown">
        </select>

        <label for="endYearDropdown">Select End Year:</label>
        <select id="endYearDropdown">
        </select>

        <div id="teamSelectDiv">
          <p>
          <h3>Select Team(s):</h3>
          <form id="teamSelectForm">
              <table>
                  <tr>
                      <td><label><input type="checkbox" name="team" value="Arizona"> Arizona</label></td>
                      <td><label><input type="checkbox" name="team" value="Atlanta"> Atlanta</label></td>
                      <td><label><input type="checkbox" name="team" value="Baltimore"> Baltimore</label></td>
                      <td><label><input type="checkbox" name="team" value="Buffalo"> Buffalo</label></td>
                      <td><label><input type="checkbox" name="team" value="Carolina"> Carolina</label></td>
                      <td><label><input type="checkbox" name="team" value="Chicago"> Chicago</label></td>
                      <td><label><input type="checkbox" name="team" value="Cincinnati"> Cincinnati</label></td>
                      <td><label><input type="checkbox" name="team" value="Cleveland"> Cleveland</label></td>
                  </tr>
                  <tr>
                      <td><label><input type="checkbox" name="team" value="Dallas"> Dallas</label></td>
                      <td><label><input type="checkbox" name="team" value="Denver"> Denver</label></td>
                      <td><label><input type="checkbox" name="team" value="Detroit"> Detroit</label></td>
                      <td><label><input type="checkbox" name="team" value="Green Bay"> Green Bay</label></td>
                      <td><label><input type="checkbox" name="team" value="Houston"> Houston</label></td>
                      <td><label><input type="checkbox" name="team" value="Indianapolis"> Indianapolis</label></td>
                      <td><label><input type="checkbox" name="team" value="Jacksonville"> Jacksonville</label></td>
                      <td><label><input type="checkbox" name="team" value="Kansas City"> Kansas City</label></td>
                  </tr>
                  <tr>
                      <td><label><input type="checkbox" name="team" value="LA Chargers"> LA Chargers</label></td>
                      <td><label><input type="checkbox" name="team" value="LA Rams"> LA Rams</label></td>
                      <td><label><input type="checkbox" name="team" value="Las Vegas"> Las Vegas</label></td>
                      <td><label><input type="checkbox" name="team" value="Miami"> Miami</label></td>
                      <td><label><input type="checkbox" name="team" value="Minnesota"> Minnesota</label></td>
                      <td><label><input type="checkbox" name="team" value="New England"> New England</label></td>
                      <td><label><input type="checkbox" name="team" value="New Orleans"> New Orleans</label></td>
                      <td><label><input type="checkbox" name="team" value="NY Giants"> NY Giants</label></td>
                  </tr>
                  <tr>
                      <td><label><input type="checkbox" name="team" value="NY Jets"> NY Jets</label></td>
                      <td><label><input type="checkbox" name="team" value="Philadelphia"> Philadelphia</label></td>
                      <td><label><input type="checkbox" name="team" value="Pittsburgh"> Pittsburgh</label></td>
                      <td><label><input type="checkbox" name="team" value="San Francisco"> San Francisco</label></td>
                      <td><label><input type="checkbox" name="team" value="Seattle"> Seattle</label></td>
                      <td><label><input type="checkbox" name="team" value="Tampa Bay"> Tampa Bay</label></td>
                      <td><label><input type="checkbox" name="team" value="Tennessee"> Tennessee</label></td>
                      <td><label><input type="checkbox" name="team" value="Washington"> Washington</label></td>
                  </tr>
              </table>
          </form>
      </div>
        <p>
        </p>
        <button id="updateButtonId">Update Charts</button>
        </p>
        <!-- Here are the containers for the Highcharts visualizations -->
        <div id="superbowlInfo">
            <h2>Superbowl Winners:</h2> 
        </div>
        <div id="salaryChart" style="height: 400px;"></div>
        <div id="winLossChart" style="height: 400px;"></div>
        <div id="playoffChart" style="height: 400px;"></div>
        <div id="salaryWinsComboChart" style="height: 400px;"></div>
    </div>

    <!-- Including the app.js script after d3 -->
    <script src="{{ url_for('static', filename='js/bd.js') }}"></script>

</body>

</html>
